*{
    margin: 0;
    box-sizing: border-box;
}
.text-center{
    text-align: center;
}
body{
    content: "";
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    font-family: 'Lato', monospace;
    font-weight: 400;
    line-height: 1.4;
    color: #0F0F0F;
    background-color: #ededed;
}
img{
    transform: scale(0.1 0.1);
    width: 100px;
    height: 100px;
}
header{
    background-color: #FFF;
    display: grid;
    grid-template-columns: auto 400px;
    border: 1px solid #000;
}
img{
    width: auto;
    height: auto;
}
a{
    text-decoration: none;
     color: inherit;
}
ul{
    padding: 0;
}
li{
    list-style: none;
    padding:  0.75rem 1.25rem;
}
footer{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #d3d3d3;
}
h2{
    display: block;
    font-size: 1.5em;
    font-weight: 500;
}
form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;

}
input{
    margin-top: 0.75rem;
    padding: 0.25rem;
    font-family: inherit;
    font-size: 1rem;
}
.logo{
    width: 60vw;
    height: auto;
    max-width: 200px;
}
.icon{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.nav-list{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: auto auto auto ;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.grid{
    display: flex;
}
.description{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border: 2px solid #000;
}
.level{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    background-color: #d3d3d3;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
}
.button{
    padding: 0.25rem;
    margin: 0.5rem;
    width: 50%;
    background-color: #00FF00;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 10px #000;
    font-weight: 500;
    font-size: 1rem;
}
.footer-list{
    display: flex;
    justify-content: center;
}
#how-its-made{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
#email{
    width: 100%;
    max-width: 25vw;
}
#submit{
    max-width: 25vw;
}
#pricing{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
