*{
    box-sizing: border-box;
}
body{
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: blueviolet;
    background: linear-gradient(135deg, rgba(43,9,215,1) 0%, rgba(0,212,255,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #f3f3f3;
    font-family: 'Poppins', monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
}
header{
    padding: 0 0 0.625rem;
    margin-bottom: 1.875rem;
}
h1, p{
    margin: 0 0 0.5rem;
}
h1{
    line-height: 1.2;
    font-weight: 400;
}
p{
    font-size: 1.125rem;
}
form{
    background: rgba(27, 27, 50, 0.8);
    padding: 2.5rem 0.625rem;
    border-radius: 0.5em;
}
input, button, select, textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button{
    display: block;
    padding: 0.75rem;
    background: #37af65;
    width: 100%;
    border: none;
    border-radius: 0.25rem ;
    color: inherit;
    cursor: pointer;
}
label{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
textarea{
    width:100%;
    height: 8rem;
    resize: none;
}
.form-group{
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}
.clue{
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #E3E3E3;
}
.text-center{
    text-align: center;
}
.container{
    width: 100%;
    margin: 3.125rem auto 1rem auto;
}
@media (min-width: 576px){
.container {
    max-width: 540px;
}}
@media (min-width: 768px){
.container {
    max-width: 720px;
}}
.description{
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0 0 0 0.4);
}
.form-control{
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #FFF;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.input-radio, .input-checkbox{
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
    color: black;
}




