@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
body{
    text-align: center;
}
#main{
    background-color: #E3E3E3;
    border-radius: 10px;
    font-family: 'Lato', serif;
    color: #232323;
}
#title{
    margin: 0 auto 0 auto;
    padding-top: 1%;
    font-weight: 900;
    font-size: 50px;
}
#img-div{
    margin: auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    /*align-content: center;*/
    background-color: white;
    width: 90%;
}

#tribute-info{
    padding-top: 2rem;
}
li{
    font-weight: lighter;
    text-align: left;
    margin: auto;
    width: 30%;
    padding: 0.5rem;
}
footer{
    font-weight: 900;
    padding: 0.5rem;
}
img{
    display: block;
    margin: auto;
    padding: 2%;
    max-width: 300px;
    width: 30%;
}
